<div class="price-result">
  <%= render 'layouts/messages'%>
</div>
<%if @friends%>
  <div class="card card-header price-result">
    <table>
      <tbody>
        <%@friends.each do |friend|%>
          <tr>
            <td><strong>First Name: </strong> <%= friend.first_name%></td>
            <td><strong>Last Name: </strong> <%= friend.last_name%></td>
            <td><strong>Email: </strong> <%= friend.email%></td>
            <td>
              <strong>Profile: </strong><%= link_to 'View Profile', show_profile_path(id: friend), class: 'btn btn-xs btn-success'%>
              <%if current_user.not_friend_with?(friend.id)%>
                <%= link_to 'Follow Friend', create_friend_path(id: friend), method: :post, class: 'btn btn-xs btn-success'%>
              <%else%>
                <span class="badge badge-secoundary">
                  You are already friend
                </span>
              <%end%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
<%end%>
